header {
	height: fit-content;
	width: 100%;
	padding: 0.75rem 2.25rem;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
}

header .container .navigation-toggle {
	display: inline-block;
	color: var(--dark-green-color);
	font-weight: 600;
	font-size: 1.25rem;
}

header .container .search-container {
	position: relative;
	display: flex;
	width: 100%;
	margin: 0 1.5rem;
}

header .container .search-container input.search {
	background-color: transparent;
	width: 100%;
	padding: 12px;
	outline: none;
	border-radius: 6px;
	border-width: 1px;
	transition: 200ms ease-in-out;
}
header .container .search-container input.search:focus {
	border: 2px solid var(--dark-green-color);
}
header .container .search-container input.search:focus ~ button {
	color: var(--dark-green-color);
}

header .container .search-container label {
	z-index: -1;
	position: absolute;
	top: 12px;
	left: 12px;
	color: var(--grey-text-color);
	background-color: white;
	cursor: text;
	transition: 200ms ease-in-out;
}
header .container .search-container input.search:focus ~ label {
	z-index: 0;
	color: var(--dark-green-color);
	top: -8px;
	padding: 0 2px;
	font-size: 12px;
	font-weight: bold;
	background-color: #ffffff;
}
header .container .search-container input.search:not(:placeholder-shown).search:not(:focus) ~ label {
	z-index: 0;
	color: var(--dark-green-color);
	top: -8px;
	padding: 0 2px;
	font-size: 12px;
	font-weight: bold;
	background-color: #ffffff;
}

header .container .search-container button {
	position: absolute;
	font-size: 1rem;
	top: 12px;
	right: 12px;
	color: var(--grey-text-color);
	transition: 500ms ease-in-out;
}

header .container .account-container {
	position: relative;
	flex-basis: 36px;
}

header .container .account-container button img {
	border-radius: 50%;
}

header .container .account-container ul {
	visibility: hidden;
	z-index: 1;
	position: absolute;
	opacity: 0;
	margin-top: 8px;
	top: 10px;
	right: 0;
	width: 160px;
	background-color: white;
	border-width: 1px;
	border-radius: 6px;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	transition: 500ms ease-in-out;
}
header .container .account-container ul.active {
	visibility: visible;
	opacity: 1;
	top: 34px;
}

header .container .account-container ul li a {
	display: block;
	padding: 10px 14px;
}

header .container .account-container ul li a:hover {
	color: var(--dark-green-color);
	background-color: var(--light-green-background-color);
}

@media screen and (min-width: 1024px) {
	header .container .navigation-toggle {
		display: none;
	}

	header .container .search-container {
		margin-left: 0;
	}
}