/* ==================== VARIABLES CSS ==================== */
:root {
	--blue-100: #e9f2ff;
	--blue-400: #2879fe;
	--grey-100: #f7f8fa;
	--grey-200: #e9e7e7;
	--grey-500: #999999;
	--grey-800: #191919;
	--orange-400: #fdbc20;
	--orange-500: #ffb503;
	--purple-300: #7c3aed;
	--red-400: #f8353e;
	--shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}