/* ==================== Variable CSS ==================== */
:root {
	/* -------------------- Admin -------------------- */
	--dark-green-color: #15a362;
	--grey-text-color: #5d6778;
	--light-green-background-color: #edfdf6;
	--light-grey-background-color: #f5f6fe;
}