section.main-container {
	max-width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 40% 60%;
}

section.main-container section.content-wrapper {
	grid-column: span 2 / span 2;
	grid-template-rows: repeat(2, minmax(0, 1fr));
}

section.main-container section.content-wrapper section.content-container {
	position: relative;
	min-height: 100vh;
	padding: 36px;
	background-color: var(--light-grey-background-color);
}

section.main-container section.content-wrapper section.content-container div.content-title {
	margin-bottom: 16px;
}

section.main-container section.content-wrapper section.content-container div.content-title span {
	font-size: 24px;
	font-weight: 600;
	margin-right: 8px;
}

section.main-container section.content-wrapper section.content-container section.content-body {
	width: 100%;
	background-color: white;
	padding: 20px;
	border-radius: 6px;
	box-shadow: var(--shadow-medium);
}

section.main-container section.content-wrapper section.content-container section.content-body div.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	font-size: 20px;
}

section.main-container section.content-wrapper section.content-container section.content-body div.header h3 {
	text-transform: uppercase;
	font-weight: 600;
}

section.main-container section.content-wrapper section.content-container section.content-body div.header a button {
	padding: 1px 10px;
	border-radius: 6px;
	transition: 400ms ease-in-out;
}
section.main-container section.content-wrapper section.content-container section.content-body div.header a button:hover {
	color: var(--light-red-color);
}

section.main-container section.content-wrapper section.content-container section.content-body form {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

section.main-container section.content-wrapper section.content-container section.content-body form div.input-container {
	position: relative;
	flex-basis: 100%;
}

section.main-container section.content-wrapper section.content-container section.content-body form div.input-container input.name {
	position: relative;
	z-index: 1;
	background-color: transparent;
	width: 100%;
	padding: 12px;
	border-width: 1px;
	border-radius: 6px;
	outline: none;
	transition: 200ms ease-in-out;
}
section.main-container section.content-wrapper section.content-container section.content-body form div.input-container input.name:focus {
	border: 2px solid var(--dark-green-color);
}

section.main-container section.content-wrapper section.content-container section.content-body form div.input-container label {
	position: absolute;
	top: 14px;
	left: 12px;
	color: var(--grey-text-color);
	background-color: white;
	transition: 200ms ease-in-out;
}
section.main-container section.content-wrapper section.content-container section.content-body form div.input-container input.name:focus ~ label {
	z-index: 1;
	color: var(--dark-green-color);
	top: -8px;
	padding: 0 2px;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
}
section.main-container section.content-wrapper section.content-container section.content-body form div.input-container input.name:not(:placeholder-shown).name:not(:focus) ~ label {
	z-index: 1;
	color: var(--dark-green-color);
	top: -8px;
	padding: 0 2px;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
}

section.main-container section.content-wrapper section.content-container section.content-body form div.file-container {
	flex-basis: 100%;
}

section.main-container section.content-wrapper section.content-container section.content-body form div.input-container p {
	color: var(--dark-red-color);
	font-size: 12px;
	margin: 6px 0;
}

section.main-container section.content-wrapper section.content-container section.content-body form div.file-container input {
	width: 100%;
	padding: 12px;
	border-width: 1px;
	border-radius: 6px;
	cursor: pointer;
	transition: 200ms ease-in-out;
}
section.main-container section.content-wrapper section.content-container section.content-body form div.file-container input:hover {
	box-shadow: var(--shadow-medium);
}

section.main-container section.content-wrapper section.content-container section.content-body form div.file-container p {
	color: var(--dark-red-color);
	font-size: 12px;
	margin: 6px 0;
}

section.main-container section.content-wrapper section.content-container section.content-body form button {
	text-transform: uppercase;
	font-weight: 600;
	padding: 12px 24px;
	border-width: 1px;
	border-color: var(--dark-green-color);
	border-radius: 5px;
	cursor: pointer;
	transition: 500ms ease-in-out;
}
section.main-container section.content-wrapper section.content-container section.content-body form button:hover {
	color: white;
	background-color: var(--dark-green-color);;
}

@media screen and (min-width: 1024px) {
	section.main-container {
		grid-template-columns: 24% 76%;
	}
	section.main-container section.content-wrapper {
		grid-column: span 1 / span 1;
	}
}

@media screen and (min-width: 1280px) {
	section.main-container {
		grid-template-columns: 20% 80%;
	}
}